# Log files
logs
*.log
*.tmp
*.tmp.*
log.txt
npm-debug.log*

# Dependency directories
node_modules

# MacOS related files
*.DS_Store
.AppleDouble
.LSOverride
._*
UserInterfaceState.xcuserstate

# Windows related files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# IDE - Sublime
*.sublime-project
*.sublime-workspace

# IDE - VSCode
.vscode/**
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json

# IDE - IntelliJ
.idea

# Compilation output folders
dist/
build/
tmp/
out-tsc/
temp

# Testing output
.nyc_output
coverage
*.lcov